/*General*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Roboto;
  font-weight: lighter;
  margin:0;
}

.color-grey {
  color: grey;
}

.main {
  position:relative;
  top:0;
}

/* Page Loader */

.loader {
  background: #ffff;
  display: grid;
  place-items: center ;
  height:100vh;
  position:fixed;
  inset:0;
  z-index:2;
  opacity:0.9;
  animation:disappear 300ms 2s forwards;
}
 
@keyframes disappear {
  0%{
    transform:scale(1);
  }
  100% {
    visibility: collapse;
  }
}

.loader--spin {
  border: solid 10px transparent;
  border-color: #9356DC  #99E2D0 #FF79DA #99E2D0;
  border-radius: 50%;
  width:100px;
  height:100px;
  animation: 1.2s spin infinite ease-in-out;
  background:transparent;
  opacity: 0.8;

  /* Placement du loader au milieu de la page */
  margin:auto;
  position: absolute;
  top:0; left:0; right:0; bottom:0;
} 

  /* Animation du loader*/

 @keyframes spin {
    0% {
      transform:rotate (0deg);
    }

    100% {
      transform:rotate(360deg);
    }
  }

.loader--text {
  font-family: Shrikand, cursive;
  opacity:0.5;
  font-size: 12px;
  font-weight: bold;

}  

/*header*/
header {
  position:sticky;
  z-index: 1;
  background: white;
  width:100%;
  top:0;
}

.title__header {
  box-shadow: 0 2px 2px #C3C3C3;
  margin: 0;
  padding: 0.5rem;
  top:0; 
}

a {
  text-decoration: none;
}

/*Navigation*/

.nav__location {
  background-color: #e3e3e3;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(75, 75, 75);
}

.location__icon {
  margin: 1rem;
}

.location__text {
  font-weight: 500;
  font-size:17px;
}

/* Nav-Presentation  */
.nav-pres {
  background-color: #f3f3f3;
}

.nav-pres__title {
  padding: 5% 12% 0 12%;
}

.nav-pres__text {
  padding: 0 10% 0 10%;
  font-weight: 300;
}

.nav__button input{
  border-radius: 50px;
  padding: 1rem 1.5rem;
  margin: 5%;
  margin-bottom:15%;
  background-image: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  color:white;
  border:none;
  box-shadow: 0 5px 5px #D3D3D3;
}

.nav__button:hover input{
  filter: brightness(1.1);
  cursor: pointer;
  transform:scale(1.02);
  transition: 300ms;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(50, 50, 93, 0.25) 0 20px 40px -20px;
}

/* Fonctionnement */
.fonction {
  text-align:start;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100%;
}

.fonction__title {
  margin:2rem 1.2rem 0 1.2rem;
  width:100%;
  text-align: start;
}

.fonction__list {
  list-style-type: none;
  display:flex; 
  flex-direction: column;
  align-items:center;
  padding:0.5rem 1.3rem 2rem 2rem;
  margin: 0;
  width:100%;
}

.fonction__list li {
  width:100%;
}

.fonction__list button{
  border-radius: 15px;
  padding:1.7rem 2rem;
  background: #f5f5f5;
  margin:2% 0;
  width:100%;
  border:none;
  box-shadow: 0 5px 5px #D3D3D3;
  position: relative;
  font-weight: bold;
  display:flex;
  align-items: flex-start;
}

.fonction__list button:hover {
  background-color:hsl(272, 100%, 95%);
  transform:scale(1.01);
  transition: 200ms;
  cursor: pointer;
}

.fonc-num {
  background-color: #9356DC;
  width:1.5rem;
  height:1.5rem;
  border-radius:50%;
  position:absolute;
  left:-0.7rem;
  margin:-5px auto;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.but-list {
  margin:8px 20px 0 10px;
  color: #A9A9A9; 
}

li:hover .but-list {
  color:#9356DC;
  transform:scale(1.02);
}

/* Restaurants */

.resto__list {
 background-color: #f3f3f3;
 text-align: start;
 padding: 1% 5%;
 padding-bottom:10%;
} 

.resto__title {
  padding:7% 0 0 0;
}

.resto__card {
  width:100%;
  display:grid;
  background-color: white;
  border-radius: 5%;
  margin: 5% 0;
  text-decoration: none; 
  box-shadow: 0 5px 5px #D3D3D3;
  position:relative;
}

.resto__card:hover {
  transform:scale(1.01);
  filter: brightness(1.01);
  cursor: pointer;
  transition: 200ms;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px;
}

.resto__image {
  width:100%;
  border-radius: 15px 15px 0 0;
  height:190px;
  object-fit: cover;
  background:fixed;
}

.item__new {
background: #99E2D0;
color: #2ba778;
font-weight: 500;
padding: 0.5rem 1rem;
border-radius: 0.3rem;
position: absolute;
top: 1rem;
right: 1rem;
}

/* positionnement et couleurs du texte */
.resto__body {
  color:black;
  padding: 3%;
  position:relative;
  margin:0;
  
}
/* espace entre h3 et p */
.resto__body p, h3 {
  margin: 1%;
}

/* Hearts */
.heart {
  position:absolute;
  right:1.2rem;
  top:40%;
  font-size: 25px;
  width:2rem;
  align-items: center;
  stroke-width: 20;
}

.heart:hover {
  transform: scale(1.07);  
}

 .heart--s {
  width:2rem;
  right:1.2rem;
  top:40%;
  opacity:0; 
  position: absolute;
  fill: url(#text-fill);
  stroke-width: 20;
}

.resto__body .heart--s:hover {
  opacity:1;
  transform:scale(1.07) ;
  transition:1.5s ease-in-out;
}

/* Footer */

.footer__contain {
  background-color: #353535;
  text-align:start;
  display: flex;
  flex-direction: column;
  padding:5%;
  color: white;
}

.logo {
 filter:invert(100%);
}

.footer__icon {
  width:4.5%;
}

.footer__contact {
  text-decoration: none; 
  color:white;
}

/* VERSION TABLETTE */

@media (min-width:765px) {

  /* Navigation */
.nav__button input{
    margin: 5%;
    margin-bottom:7%; 
}

/* Fonctionnnemt */

.fonction__title {
  margin: 1rem 42%;
}

.fonction__list {
    width:60%;
}

.fonction__list button {
  padding: 1.7rem 7rem;
}

/* Restaurants */
#wrapper {
  display: grid;
  width:100%;
  grid-template-areas:"rc1 rc2"
                      "rc3 rc4"; 
  grid-template-columns:repeat(2,minmax(0, 1fr));                   
  grid-gap: 5rem;                              
}

.resto__card {
  width:100%;
  margin: 5% 0;
  align-items: center; 
}

/* Footer */
.footer__contain {
  text-align:center;
  display: flex;
  flex-direction: column;
  padding:3%;
}

.footer__icon {
  width:auto;
}
}

/* VERSION DESKTOP  */

@media (min-width:1025px){

/* Fonctionnement */
.fonction__list {
  min-width:100%;
  display:flex;
  justify-content: space-around;
  padding: 1rem 2rem 2rem 2rem;
  flex-direction: row;
  align-items:center;
  flex-shrink: 0;
}

.fonction__list li {
  width:100%;
  margin:0;
  padding:1rem;
  display:flex;
  justify-content: space-around;
}

.fonction__list button{
  width:100%;
  display: flex;
  justify-content: space-around;
  padding: 1.7rem 2.1rem;
}

/* Footer */
.footer__contain {
  text-align: start;
  align-items: center;
}

.footer__block {
  display: flex;
  flex-direction: row;
  gap:7rem;
}
}