/*General*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Roboto;
  font-weight: lighter;
  margin:0;
}

.color-grey {
  color: grey;
}

/*header*/
.title__header {
  box-shadow: 0 2px 2px #C3C3C3;
  margin: 0;
  padding: 0.5rem;
  position:sticky;
  top:0;
  z-index: 2;
}

a {
  text-decoration: none;
}

/*Navigation*/
.nav__location {
  background-color: #e3e3e3;
  padding: 0.1%;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(75, 75, 75);
}

.location__icon {
  margin: 1rem;
}

.location__text {
  font-weight: 500;
}

/* Nav-Presentation  */
.nav-pres {
  background-color: #f3f3f3;
}

.nav-pres__title {
  padding: 5% 12% 0 12%;
}

.nav-pres__text {
  padding: 0 10% 0 10%;
  font-weight: 300;
}

.nav__button {
  border-radius: 50px;
  padding: 0 1.5rem;
  margin: 5%;
  margin-bottom:15%;
  background-image: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  color:white;
  border:none;
  box-shadow: 0 5px 5px #D3D3D3;
}

.nav__button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform:scale(1.02);
  transition: 300ms;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(50, 50, 93, 0.25) 0 20px 40px -20px;
}

/* Fonctionnement */
.fonction {
  text-align: start;
}

.fonction h2 {
  margin:7% 5%;
}

.fonction__list {
  list-style-type: none;
  display:grid; 
}

.fonction__list button{
  border-radius: 15px;
  padding:1rem 1.5rem;
  background: #f5f5f5;
  margin:2%;
  border:none;
  box-shadow: 0 5px 5px #D3D3D3;
  position: relative;
  width: 90%;
  font-weight: 500;
  display:flex;
  justify-content:flex-start;
}

.fonction__list button:hover {
  background-color:hsl(272, 100%, 95%);
  transform:scale(1.01);
  transition: 200ms;
}

.fonc-num {
  background-color: #9356DC;
  width:2rem;
  height:2rem;
  border-radius:50%;
  position:absolute;
  left:-0.7rem;
  margin:5px auto;
  color:white;
  display: flex;
justify-content: center;
align-items: center;
}

.but-list {
  margin:20px 15px 0 10px;
  color: #A9A9A9; 
}

.but-list:hover {
  color:#9356DC;
}

/* Restaurants */
.resto__list {
 background-color: #f3f3f3;
 text-align: start;
 padding: 1% 5%;
} 

.resto__title {
  padding:7% 0 0 0;
}

.resto__card {
  width:100%;
  display:grid;
  background-color: white;
  border-radius: 5%;
  margin: 7% 0;
  text-decoration: none; 
  box-shadow: 0 5px 5px #D3D3D3;
  position:relative;
}

.resto__image {
  width:100%;
  border-radius: 15px 15px 0 0;
  height:190px;
  object-fit: cover;
}

.item__new {
background: #99E2D0;
color: #2ba778;
font-weight: 500;
padding: 0.5rem 1rem;
border-radius: 0.3rem;
position: absolute;
top: 1rem;
right: 1rem;
}

/* positionnement et couleurs du texte */
.resto__body {
  color:black;
  padding:0 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* ecartement entre les deux textes */
.resto__body > h3 > p {
  margin:1%;
}  

.heart .heart__full {
  display:flex;
  justify-content: flex-end;
  position:absolute;
  right:0;
}

/* Footer */

.footer__contain {
  background-color: #424949;
  text-align:start;
  padding:5%;
  color: white;
  gap:10% 5%;
}

.logo {
 width:40%;
 filter:invert(100%);
}

.p__icon {
  margin-left: 5%;
}

.footer__icon {
  width:6%;
}

.footer__contact {
  text-decoration: none; 
  color:white;
}
/*# sourceMappingURL=style.css.map */