/*General*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  text-align: start;
  font-family: Roboto;
  font-weight: lighter;
  margin:0;
}

a {
  text-decoration: none;
  color:black;
 }

/*header*/
header {
  position:sticky;
  z-index: 1;
  background: white;
  width:100%;
  top:0;
}

.title__header {
  margin: 0;
  padding: 1rem;
  position: relative;
  text-align: center;
}  

.arrow {
  position:absolute;
  left:1rem;
  top:1.5rem;
}

/* Main */

.main_image {
    width:100%;
    position: relative;   
    max-height: 25rem;
    object-fit: cover;
    object-position: center;
}

/* Menu */
.menu__container {
  margin-top:-3rem;
  position:sticky;
  display: grid;
  grid-gap: 1.5rem;
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 40px 40px 0 0;
}

.menu__title {
  display:flex;
  justify-content:space-between;
  align-items: center;
}

h2 {
  font-family: Shrikhand , cursive;
  font-size: 1.7rem;
  font-style: italic;
}

.menu__starter, .menu__course, .menu__dessert {
  display: grid;
  grid-gap: 1.5rem;
  max-width:100%;
  margin-bottom:2rem;
}

/* Animation progressive des menus */

.cd1 {
  animation: 1s ease-in-out 100ms progressiveappear ;
}

.cd2 {
  animation: 1.3s ease-in-out 200ms progressiveappear ;
}

.cd3 {
  animation: 1.7s ease-in-out 350ms progressiveappear ;
}

.cd4 {
  animation: 2s ease-in-out 500ms progressiveappear ;
}

@keyframes progressiveappear {
  0%{
    transform: scale(1);
    opacity: 0;
    transform-origin: bottom;
    margin-top:0.5rem;
  }

  100%{
    transform: scale(1);
    opacity: 1;
    transform-origin: bottom;
    margin-top:0;
  }
}

h3 {
  text-transform: uppercase;
  padding-bottom:0.5rem;
  border-bottom: solid 2px #99E2D0;
  width:2.5rem;
}


/* .card__dish {
  border: solid 1px transparent;
  border-radius: 20px;
  Background: white;
  white-space:nowrap;
  
  box-shadow: 1px 1px 10px #D7D7D7;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 1s;
} */
.card__dish {
animation-fill-mode: both;
background-color: white;
border-radius: 20px;
padding: 15px 20px 0 10px;
margin-bottom: 15px;
position: relative;
overflow: hidden;
z-index: 0;
width: 100%;
box-shadow: 1px 1px 10px #D7D7D7;
}

.card__dish:hover .card--validator {
  transform:scale(1.01);
  filter: brightness(1.01);
  cursor: pointer;
  transition: 0.7s;
  right:0px;
  z-index: 2;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px;
  animation: checkrotate ease;
}

@keyframes checkrotate {
  0%{
    transform:rotate(-270deg)
  }
  
  100%{
    transform:rotateZ(0);
  }
}

.card__content {
  width:100%;
}

.card__content:hover {
  width: calc(100% - 80px);
  transition: 0.7s ease-in-out;
  cursor: pointer;

}

.card--title h4{
  font-family: "Roboto";
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--text  {
  display: flex;
  justify-content: space-between;
}

.card--text p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--price {
  font-weight: bold;
  display: flex;
  align-items: center;
 }

.card--validator {
  position: absolute;
  text-align: center;
  right: -85px;
  top: 0;
  width: 85px;
  height: 110px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s ease-in-out;
}

@keyframes rotate {
  0%{
    transform-origin: rotate (270deg)
  }
  
  100%{
    transform-origin: rotate (0);
  }}

.check--icon {
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  width:24px;
  height:24px; 
}


.button {
  border-radius: 50px;
  padding: 1rem 0;
  margin: 10% 25%;
  margin-bottom:15%;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color:white;
  border:none;
  box-shadow: 0 5px 5px #D3D3D3;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.02);
  transition: 300ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(50, 50, 93, 0.25) 0 20px 40px -20px;
}

.heart {
  position:absolute;
  right:2rem;
  top:3.5rem;
  font-size: 25px;
  width:2rem;
  align-items: center;
}

.heart:hover {
  transform: scale(1.07);
  border:transparent;
  cursor: pointer;
}

.heart--s {
  color: transparent;
  background-image: linear-gradient(200deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  width:2rem;
  position:absolute;
  right:2rem;
  top:3.5rem;
  font-size: 25px;
  opacity:0; 
  animation: appear 5s ease-in-out forwards;
}

.heart--s:hover {
  opacity:1;
  transform:scale(1.08) ;
  transition:300ms ease-in-out;
  cursor: pointer;
}

/* Footer */

.footer__contain {
    background-color: #424949;
    text-align:start;
    padding:5%;
    color: white;
    gap:10% 5%;
  }
  
  .logo {
   filter:invert(100%);
   width:7rem;
  }
  
  .p__icon {
    margin-left: 5%;
  }
  
  .footer__icon {
    width:6%;
  }
  
  .footer__contact {
    text-decoration: none; 
    color:white;
  } 

  @media (min-width:768px) {
   #wrapper__menu {
    width:100%;
   }

  .menu__course .card__dish {
    white-space: nowrap;
    width:100%;
  }
  }

  @media (min-width:1025px) {
   
    #wrapper__menu {
      display: grid;
      width:100%;
      grid-template-areas:"ms mc md" 
                          "ms mc md";
      grid-gap: 1rem;      
    }
  }